import(GenomicRanges)
import(methods)
import(shiny)
import(ggplot2)
import(GenomeInfoDb)
import(IRanges)
import(Rsamtools)
importFrom(S4Vectors, DataFrame)
importFrom(ggbio, autoplot, tracks)
importFrom(VariantAnnotation, VRanges)
importFrom(exomeCopy, subdivideGRanges)
importFrom(SomaticSignatures, seqchar)
importFrom(VGAM, logit)
importFrom(dplyr, rbind_all)
importFrom(reshape2, melt)

export(acCi, nhsCi)
export(scoreTest, nmTest, feTest)
export(ciOutside, ciCovers, ciOverlap, ciWidth)
export(plotConfidenceIntervals, plotAbundanceShift)
#export(plotShiftSupport)
export(coverageProbability)
export(ciAdjustLevel)
export(rariant, rariantStandalone)
export(pos2gr, gr2pos)
export(readRariant, writeRariant)
export(rariantInspect)
export(splitSampleBinom)
export(tallyBamRegion)
export(eventFillScale, verdictColorScale, rateFillScale, baseFillScale)
export(yesNoMaybe)
export(updateCalls, mergeCalls, filterCalls, findCalls)
export(evidenceHeatmap)
export(tallyPlot)
